[submodule "stow/vim/.vim"]
	path = stow/vim/.vim
	url = git@github.com:HenningM/vimconfig.git
[submodule "stow/nvm/.nvm"]
	path = stow/nvm/.nvm
	url = git@github.com:creationix/nvm.git
[submodule "stow/neovim/.config/nvim"]
	path = stow/neovim/.config/nvim
	url = git@github.com:HenningM/neovim-config.git
	branch = master
